@import url(https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&family=Montserrat&display=swap);

:root {
  --primary-color: #8dede6;
  --secondary-color: #236f6c;
  --background-color: #f4f4f4;
  --text-color: #333;
  --link-color: #263139;
  --link-hover-color: #050f15;
  --border-color: #263139;

  /* Font families */
  --primary-font: "Bodoni Moda", serif;
  --secondary-font: "Montserrat", sans-serif;
}

body {
  font-family: var(--primary-font);
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
}
h1 {
  font-family: "Bodoni Moda", serif;
  font-size: 3rem;
}
h1,
h2,
h5,
h6 {
  font-family: var(--primary-font);
  margin: 0;
}
h3,
h4 {
  font-family: var(--secondary-font);
  margin: 0;
}
p,
a,
li,
span,
div {
  font-family: var(--secondary-font);
  margin: 0;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

.border {
  border-color: var(--border-color);
}

.button-primary {
  font-weight: 900;
  font-size: 1.1rem;
  display: inline-block;
  padding: 10px 20px;
  margin: 20px 5px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  transform: scale(1);
  transition: all ease-out 0.3s;
}

.button-secondary {
  font-weight: 900;
  font-size: 1.1rem;
  display: inline-block;
  padding: 7px 17px;
  margin: 20px 0px;
  border: 3px solid var(--border-color);
  border-radius: 5px;
  transform: scale(1);
  transition: all ease 0.5s;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  height: 40px;
  padding: 10px 4%;
  width: 90%;
  align-items: center;
  transition: all ease 0.25s;
  z-index: 10;
}
nav * {
  transition: all ease 0.25s;
}
nav:hover {
  padding: 20px 5%;
  transition: all ease 0.25s;
}
nav:hover h3,
nav:hover h4 {
  transform: scale(1.1);
  cursor: pointer;
}
nav div {
  display: flex;
  justify-content: flex-end;
  gap: 50px;
}
a:hover {
  cursor: pointer;
}

#home {
  /* margin-top: 50px;
    width: 96%;
    padding: 0 2%; */

  display: flex;
  align-items: center;
  height: 70vh;
}
#home div {
  flex: 1;
}
#home h1 {
  letter-spacing: 1.5px;
  font-size: 3rem;
  padding: 2.5% 0;
}
#home h5 {
  height: 50px;
  text-transform: uppercase;
  font-size: 1.2rem;
}
#home .info {
  padding: 0 4%;
  padding-top: 60px;
}
#home .info h1,
#home .info h2,
#home .info h5 {
  padding: 5px 0;
}
#home .img {
  display: flex;
  flex-direction: row-reverse;
  align-self: flex-start;
}
#home img {
  height: 50vh;
  border-end-start-radius: 50px;
  transition: all ease 0.25s;
}
#home h5:hover {
  font-size: 1.5rem;
}
#home:hover .img img {
  transform: scale(1.05);
  transition: all ease 0.25s;
}
#about:hover .img img {
  transform: scale(1.05);
  transition: all ease 0.25s;
}
#about .img img {
  transition: all ease 0.25s;
}
.container {
  margin: 5% 10%;
  border-radius: 50px;
  background-color: #fff;
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.07) 0 1px 2px, rgba(0, 0, 0, 0.07) 0 2px 4px,
    rgba(0, 0, 0, 0.07) 0 4px 8px, rgba(0, 0, 0, 0.07) 0 8px 16px,
    rgba(0, 0, 0, 0.07) 0 16px 32px, rgba(0, 0, 0, 0.07) 0 32px 64px;
  transition: all ease 0.5s;
  display: flex;
}
#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#projects .img-left {
  flex-direction: row-reverse;
}
#projects .info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex: 1;
}
#projects .info div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#projects .container img {
  max-width: 50%;
  object-fit: cover;
  flex: 1;
}
#projects:hover .container {
  transform: scale(1.05);
}
#projects:hover .container:hover {
  transform: scale(1.06);
  box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;
}
#about {
  padding: 100px 5%;
  display: flex;
  align-items: center;
  gap: 50px;
}
#about > div {
  flex: 1;
}
#about img {
  width: 70%;
  border-radius: 50%;
}

#resume {
  padding: 10px 5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
#resume h1 {
  padding: 0 10%;
}
.personal,
.skill {
  padding: 20px 10%;
}
.skill h4 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.grid-full {
  grid-column: span 2;
}
.personal div {
  display: flex;
  gap: 5px;
}
.skill div {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
#resume .education img {
  width: 200px;
  object-fit: scale-down;
}
#resume .webDev a img {
  width: 100%;
  object-fit: scale-down;
}
#resume .container {
  padding: 10px;
}
#resume .container > div {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#resume:hover .container {
  transform: scale(1.05);
}
#resume:hover .container:hover {
  transform: scale(1.06);
  box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;
}
.courses a,
.courses div {
  flex: 1;
}
.course {
  display: flex;
}
.courses img {
  width: 20%;
}
.course div {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  gap: 5px;
}
.course img,
.course div {
  flex: 1;
}

#socials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  justify-items: center;
}
#socials .link .svg {
  width: 15px;
  transition: all 0.3s;
}
#socials .link a {
  text-decoration: none;
}
#socials .link:hover {
  font-weight: bold;
}
#socials .link:hover .svg {
  transform: scale(1.25);
  transition: all 0.3s;
}
#socials:hover form {
  transition: all 0.3s;
}
#socials:hover form:hover {
  border-radius: 20px;
  transform: scale(1.03);
  box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;
  transition: all 0.3s;
}
.link:hover .svg-arrow {
  width: 1rem;
  height: 1rem;
  transition: all 0.3s;
}
.link a {
  display: flex;
  align-items: center;
  gap: 7px;
}
.svg-arrow {
  height: 10px;
  width: 10px;
  transition: all 0.3s;
}

#myForm {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  width: 300px;
}
input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#contacts div {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#contacts a {
  transition: all ease 0.25s;
}
#contacts:hover a {
  transform: scale(1.05);
}
#contacts:hover a:hover {
  transform: scale(1.15);
}
.mail-link {
  text-decoration: none;
}
#contacts {
  margin: 40px 0;
}
.underline-nav {
  text-decoration: none;
  position: relative;
}
.underline-nav::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  background: none repeat scroll 0 0 transparent;
  height: 2px;
  width: 0;
  background: var(--primary-color);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
.underline-nav:hover::after {
  width: 100%;
  left: 0;
}

.underline {
  padding: 30px 0 8px;
  position: relative;
  transition: all ease-in-out 0.2s;
}
.underline:hover {
  transform: translateY(4px);
}
.underline:hover::before {
  transform: skew(-12deg) translateX(-10%) translateY(-5px);
  opacity: 0.6;
  height: 24px;
}
.underline::before {
  content: "";
  position: absolute;
  left: 22%;
  bottom: 16px;
  width: 150px;
  height: 14px;
  transform: skew(-12deg) translateX(-10%);
  background: var(--primary-color);
  opacity: 0.6;
  z-index: -1;
  transition: all ease-in-out 0.3s;
}

@media (max-width: 768px) {
  /* Target devices with a max width of 768px (tablets and smaller) */
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1rem;
  }
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 0.7rem;
  }
  p {
    font-size: 0.7rem;
  }
  nav {
    padding: 0px 4%;
    width: 88vw;
  }
  nav div {
    gap: 20px;
  }
  #home {
    margin-bottom: 100vh;
  }
  #home .info {
    margin-top: 130vh;
  }
  #contacts {
    /* margin-top: 100vh; */
  }
  #home img {
    transform: translateX(-50%);
    z-index: -10;
  }
  #about {
    flex-direction: column-reverse;
  }
  #resume {
    display: block;
  }
  #resume .education img {
    width: 100px;
  }
  .grid-full {
    flex-direction: column;
  }
  #resume .grid-full > div {
    flex-direction: row;
  }
  .container {
    display: flex;
  }
  #projects .container {
    display: flex;
    flex-direction: column-reverse;
  }
  #projects .img-left {
    flex-direction: column-reverse;
  }
  #projects .container img {
    max-width: 100%;
  }
  #myForm {
    width: 230px;
  }
  #socials {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .link p {
    font-size: 1rem;
  }
  #home:hover .img img {
    transform: translateX(-50%) scale(1.05);
    transition: all ease 0.25s;
  }
}
