.svg-mail {
  width: 1.2rem;
  height: 1.2rem;
  background: url("./resources/svg/icons/mail.svg") center center/contain
    no-repeat;
}
.svg-Behance,
.svg-Discord,
.svg-Dribble,
.svg-Facebook,
.svg-GitHub,
.svg-Google,
.svg-GroupMe,
.svg-ICQ,
.svg-Instagram,
.svg-LinkedIn,
.svg-Messenger,
.svg-MidJourney,
.svg-OpenAI,
.svg-Periscope,
.svg-Pinterest,
.svg-Reddit,
.svg-Skype,
.svg-Snapchat,
.svg-SoundCloud,
.svg-Spotify,
.svg-Steam,
.svg-StumbleUpon,
.svg-Tandem,
.svg-TeamViewer,
.svg-Telegram,
.svg-Tencet,
.svg-Threads,
.svg-Tiktok,
.svg-Tinder,
.svg-Trello,
.svg-Tumblr,
.svg-Twitch,
.svg-Twitter,
.svg-VK,
.svg-Vine,
.svg-Weibo,
.svg-WhatsApp,
.svg-X,
.svg-YouTube,
.svg-Zenly,
.svg-baboo,
.svg-blender,
.svg-bootstrap,
.svg-c,
.svg-canva,
.svg-cplusplus,
.svg-csharp,
.svg-css,
.svg-django,
.svg-express,
.svg-figma,
.svg-github,
.svg-html,
.svg-java,
.svg-javascript,
.svg-jquery,
.svg-nodejs,
.svg-python,
.svg-react {
  width: 2rem;
  height: 2rem;
}
.svg-footer {
  background: url("./resources/svg/footer-vector.svg") center center/contain
    no-repeat;
}
.svg-arrow {
  background: url("./resources/svg/arrow_right_up_fill.svg") center
    center/contain no-repeat;
}
.svg-baboo {
  background: url("./resources/svg/icons/Baboo.svg") center center/contain
    no-repeat;
}
.svg-Behance {
  background: url("./resources/svg/icons/Behance.svg") center center/contain
    no-repeat;
}
.svg-Discord {
  background: url("./resources/svg/icons/Discord.svg") center center/contain
    no-repeat;
}
.svg-Dribble {
  background: url("./resources/svg/icons/Dribble.svg") center center/contain
    no-repeat;
}
.svg-Facebook {
  background: url("./resources/svg/icons/Facebook.svg") center center/contain
    no-repeat;
}
.svg-GitHub {
  background: url("./resources/svg/icons/GitHub.svg") center center/contain
    no-repeat;
}
.svg-Google {
  background: url("./resources/svg/icons/Google.svg") center center/contain
    no-repeat;
}
.svg-GroupMe {
  background: url("./resources/svg/icons/GroupMe.svg") center center/contain
    no-repeat;
}
.svg-ICQ {
  background: url("./resources/svg/icons/ICQ.svg") center center/contain
    no-repeat;
}
.svg-Instagram {
  background: url("./resources/svg/icons/Instagram.svg") center center/contain
    no-repeat;
}
.svg-LinkedIn {
  background: url("./resources/svg/icons/LinkedIn.svg") center center/contain
    no-repeat;
}
.svg-Messenger {
  background: url("./resources/svg/icons/Messenger.svg") center center/contain
    no-repeat;
}
.svg-MidJourney {
  background: url("./resources/svg/icons/MidJourney.svg") center center/contain
    no-repeat;
}
.svg-OpenAI {
  background: url("./resources/svg/icons/OpenAI.svg") center center/contain
    no-repeat;
}
.svg-Periscope {
  background: url("./resources/svg/icons/Periscope.svg") center center/contain
    no-repeat;
}
.svg-Pinterest {
  background: url("./resources/svg/icons/Pinterest.svg") center center/contain
    no-repeat;
}
.svg-Reddit {
  background: url("./resources/svg/icons/Reddit.svg") center center/contain
    no-repeat;
}
.svg-Skype {
  background: url("./resources/svg/icons/Skype.svg") center center/contain
    no-repeat;
}
.svg-Snapchat {
  background: url("./resources/svg/icons/Snapchat.svg") center center/contain
    no-repeat;
}
.svg-SoundCloud {
  background: url("./resources/svg/icons/SoundCloud.svg") center center/contain
    no-repeat;
}
.svg-Spotify {
  background: url("./resources/svg/icons/Spotify.svg") center center/contain
    no-repeat;
}
.svg-Steam {
  background: url("./resources/svg/icons/Steam.svg") center center/contain
    no-repeat;
}
.svg-StumbleUpon {
  background: url("./resources/svg/icons/StumbleUpon.svg") center center/contain
    no-repeat;
}
.svg-Tandem {
  background: url("./resources/svg/icons/Tandem.svg") center center/contain
    no-repeat;
}
.svg-TeamViewer {
  background: url("./resources/svg/icons/TeamViewer.svg") center center/contain
    no-repeat;
}
.svg-Telegram {
  background: url("./resources/svg/icons/Telegram.svg") center center/contain
    no-repeat;
}
.svg-Tencet {
  background: url("./resources/svg/icons/Tencet.svg") center center/contain
    no-repeat;
}
.svg-Threads {
  background: url("./resources/svg/icons/Threads.svg") center center/contain
    no-repeat;
}
.svg-Tiktok {
  background: url("./resources/svg/icons/Tiktok.svg") center center/contain
    no-repeat;
}
.svg-Tinder {
  background: url("./resources/svg/icons/Tinder.svg") center center/contain
    no-repeat;
}
.svg-Trello {
  background: url("./resources/svg/icons/Trello.svg") center center/contain
    no-repeat;
}
.svg-Tumblr {
  background: url("./resources/svg/icons/Tumblr.svg") center center/contain
    no-repeat;
}
.svg-Twitch {
  background: url("./resources/svg/icons/Twitch.svg") center center/contain
    no-repeat;
}
.svg-Vine {
  background: url("./resources/svg/icons/Vine.svg") center center/contain
    no-repeat;
}
.svg-VK {
  background: url("./resources/svg/icons/VK.svg") center center/contain
    no-repeat;
}
.svg-Weibo {
  background: url("./resources/svg/icons/Weibo.svg") center center/contain
    no-repeat;
}
.svg-WhatsApp {
  background: url("./resources/svg/icons/WhatsApp.svg") center center/contain
    no-repeat;
}
.svg-Twitter,
.svg-X {
  background: url("./resources/svg/icons/X.svg") center center/contain no-repeat;
}
.svg-YouTube {
  background: url("./resources/svg/icons/YouTube.svg") center center/contain
    no-repeat;
}
.svg-Zenly {
  background: url("./resources/svg/icons/Zenly.svg") center center/contain
    no-repeat;
}
.svg-blender {
  background: url("./resources/svg/skill/blender-original.svg") center
    center/contain no-repeat;
}
.svg-bootstrap {
  background: url("./resources/svg/skill/bootstrap-original.svg") center
    center/contain no-repeat;
}
.svg-c {
  background: url("./resources/svg/skill/c-original.svg") center center/contain
    no-repeat;
}
.svg-canva {
  background: url("./resources/svg/skill/canva-original.svg") center
    center/contain no-repeat;
}
.svg-cplusplus {
  background: url("./resources/svg/skill/cplusplus-original.svg") center
    center/contain no-repeat;
}
.svg-csharp {
  background: url("./resources/svg/skill/csharp-original.svg") center
    center/contain no-repeat;
}
.svg-css {
  background: url("./resources/svg/skill/css3-original.svg") center
    center/contain no-repeat;
}
.svg-django {
  background: url("./resources/svg/skill/django-plain-wordmark.svg") center
    center/contain no-repeat;
}
.svg-express {
  background: url("./resources/svg/skill/express-original.svg") center
    center/contain no-repeat;
}
.svg-figma {
  background: url("./resources/svg/skill/figma-original.svg") center
    center/contain no-repeat;
}
.svg-github {
  background: url("./resources/svg/skill/github-original.svg") center
    center/contain no-repeat;
}
.svg-html {
  background: url("./resources/svg/skill/html5-original-wordmark.svg") center
    center/contain no-repeat;
}
.svg-javascript {
  background: url("./resources/svg/skill/javascript-original.svg") center
    center/contain no-repeat;
}
.svg-java {
  background: url("./resources/svg/skill/java-original.svg") center
    center/contain no-repeat;
}
.svg-jquery {
  background: url("./resources/svg/skill/jquery-original-wordmark.svg") center
    center/contain no-repeat;
}
.svg-nodejs {
  background: url("./resources/svg/skill/nodejs-original.svg") center
    center/contain no-repeat;
}
.svg-python {
  background: url("./resources/svg/skill/python-original.svg") center
    center/contain no-repeat;
}
.svg-react {
  background: url("./resources/svg/skill/react-original.svg") center
    center/contain no-repeat;
}
